/* You can add global styles to this file, and also import other style files */
@use 'reset-css';

@use '@angular/material/prebuilt-themes/indigo-pink.css';
:root{
  --app-background-drawer-outlet: #f8f9fa;
  --app-background-drawer-outlet-x-button: fuchsia;
  --app-background-drawer: red;
}
