<h1>


  Playground Table
  <span class="version">v19.1.0</span>
  <span class="date">2024-02-29</span>
</h1>

<div class="drawer-controls">
  <button mat-raised-button color="primary" (click)="openTableSidebar()">
    Open Table Sidebar
  </button>
  <button mat-raised-button color="accent" (click)="openHelpSidebar()">
    Open Help
  </button>
</div>
TEST TABLE
@for (item of test; track item) {
  same pointer
  <!-- Table with dataSource as a function -->
  <!-- Using the dataSource function to get the data for the table -->
  <elix-table
    [dataSource]="item.dataSource()"
    [zebraColor]="true"
    [showPagination]="true"
    (onPaginationChange)="onPaginationChange($event)"
    [lengthPagination]="item.dataSource().length"
    >
    @for (row of item.rows; track row) {
      @if (!$last) {
        <elix-column-text
          [className]="row.className"
          [field]="row.field"
          [name]="row.name" />
      } @else {
        <elix-column-icon-action
          [className]="row.className"
          [field]="row.field"
          [name]="row.name" />
      }
    }
  </elix-table>
}
Separate pointer
<elix-table
  [dataSource]="dataSource3()"
  >
  <elix-column-text
    className="driver-name"
    field="test"
    name="Test" />
  <elix-column-text
    className="driver-revenu"
    field="identifierName"
    name="Identifier Name" />
  <elix-column-icon-action
    className="action"
    field="action"
    name="Action" />
</elix-table>

<elix-table
  [dataSource]="dataSource()"
  >
  <elix-column-text
    className="driver-name"
    field="driverName"
    name="Name" />
  <elix-column-text
    className="driver-revenu"
    field="ambulanceIc"
    name="Revenu" />
  <elix-column-icon-action
    className="action"
    field="action2"
    name="Action" />
</elix-table>
