<div class="drawer-controls">
  <button
    mat-raised-button
    color="primary"
    (click)="openTableSidebar()"
  >
    Open Table Sidebar
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="openHelpSidebar()"
  >
    Open Help
  </button>
</div>
<elix-table [dataSource]="dataSource()"
>
  <elix-column-text
    className="driver-name"
    field="driverName"
    name="Name" />
  <elix-column-text
    className="driver-revenu"
    field="ambulanceIc"
    name="Revenu" />
  <elix-column-icon-action
    className="action"
    field="action2"
    name="Action" />
</elix-table>
